table {
  border-collapse: collapse;
  width: 50%;
  background-color: gold;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  color: black;
}

th {
  background-color: gold;
}
